<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ScaryBugsMacOC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FE8D45CE1BB74D2800E70618</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE8D45E11BB74D2800E70618</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE8D45EC1BB74D2800E70618</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
